# Arithmetic Operators

In [ ]:

a=15
b=4
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a**b=",a**b)

a+b= 19
a-b= 11
a*b= 60
a/b= 3.75
a//b= 3
a**b= 50625

Comparison Operators

In [ ]:
print("a>b=",a>b)
print("a<B=",a<b)
print("a==b=",a==b)
print("a!=b",a!=b)
print("a>=b",a>=b)
print("a<=b",a<=b)

a>b= True
a<B= False
a==b= False
a!=b True
a>=b True
a<=b False

Logical Operators

In [ ]:
x=True
y=False
print("x and y:",x and y)
print("x or y:",x or y)
print("not x",not x)

x and y: False
x or y: True
not x False

Assignment Operators

In [ ]:
x=10
print("Assignment:x=10")
x+=5
print("Addition Assignment:x+=5")
x-=5
print("Subtraction Assignment:x-=5")
x*=5
print("Multiplication Assignment:x*=5")
x/=5
print("Division Assiignment:x/=5")
x//=5
print("floor Division Assignment:x//=5")
x**=5
print("Exponent Assignment:x**=5")

Assignment:x=10
Addition Assignment:x+=5
Subtraction Assignment:x-=5
Multiplication Assignment:x*=5
Division Assiignment:x/=5
floor Division Assignment:x//=5
Exponent Assignment:x**=5

Identity Operators

In [ ]:
x=56
y=46
print("x is y")
print("x is not y")

x is y
x is not y

Membership Operators

In [ ]:
text="python is awesome"
print("python in text")
print("jawa not in text")

python in text
jawa not in text

Keyword Module

In [ ]:
import keyword
print("python.keyword")
print("keyword.kwlist")

python.keyword
keyword.kwlist

Variable Decleration and Types

In [ ]:
Name="Ali"
Age=14
Height=5.4
print("Name:",Name,type(Name))
print("Age",Age,type(Age))
print("Height",Height,type(Height))

Name: Ali <class 'str'>
Age 14 <class 'int'>
Height 5.4 <class 'float'>

Valid and Invalid variables name

In [ ]:
my_name="Ali"
my_age=14
my_height=5.4
subject_name="python"
score=56
is_student=True

Assign multiple values in one line and use type()andid() to inspect them

In [ ]:
x,y,z=1,5.6,"python"
print("x=",x,"|_type:",type(x),"|_id:",id(x))
print("y=",y,"|_type:",type(y),"|_id",id(y))
print("z=",z,"|_type:",type(z),"|_id:",id(z))

x= 1 |_type: <class 'int'> |_id: 10757736
y= 5.6 |_type: <class 'float'> |_id 139289371277744
z= python |_type: <class 'str'> |_id: 139289789557168

In [ ]:
my_split='ali, asim, ayan'
print()